.App {
  text-align: center;
  background-color: #f5f6fa;
}


hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.cardDivide {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mainLayout{
  margin-top: 4rem;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
